{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Объявление
{% endblock title %}
{% block content %}
  <div class="card mb-3 mx-auto" style="width: 30rem;">
    {% if ad.image_url %}
        <img class="card-img-top" src="{{ ad.image_url.url }}" alt="Фото">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ ad.title }}</h5>
      <p class="card-text">{{ ad.description }}</p>
      <p class="card-text text-muted">{{ ad.category.all|join:", " }}</p>
      <span class="badge bg-success">{{ ad.get_condition_display }}</span>
      <p class="card-text"><small class="text-muted">{{ ad.created_at|date:"d.m.Y H:i" }}</small></p>
    </div>
    {% if is_not_author %}
        <hr>
        <h5>Предложить обмен</h5>
      <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary mt2-2">Отправить</button>
      </form>
    {% endif %}
  </div>
{% endblock content %}