{% extends 'base.html' %}
{% block title %}
    Объявления
{% endblock title %}
{% block content %}
    <h1 style="margin-bottom: 20px;">Список объявлений:</h1>
    {% if ads %}
        <form method="GET" class="form-inline mb-5">
            {{ filter.form }}
            <input type="submit" value="Найти">
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>Ссылка</th>
                    <th>Автор</th>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Фото</th>
                    <th>Категории</th>
                    <th>Состояние</th>
                    <th>Дата создания</th>
                    {% if is_author %}
                        <th>Действия</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for ad in filter.qs %}
                <tr>
                    <td><a href="{% url 'ad_detail' ad.pk %}">Подробнее</a></td>
                    <td>{{ ad.user.username }}</td>
                    <td>{{ ad.title }}</td>
                    <td>{{ ad.description }}</td>
                    <td>
                        {% if ad.image_url %}
                            <img src="{{ ad.image_url.url }}" alt="Фото" width="100">
                        {% endif %}
                    </td>
                    <td>{{ ad.category.all|join:", " }}</td>
                    <td>{{ ad.get_condition_display }}</td>
                    <td>{{ ad.created_at|date:"d.m.Y H:i" }}</td>
                    {% if is_author %}
                        <td>
                            <a href="{% url 'ad_update' ad.pk %}">редактировать</a>
                            <br>
                            <a href="{% url 'ad_delete' ad.pk %}">удалить</a>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>Объявлений нет!</h2>
    {% endif %}

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a>{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">>>></a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
{% endblock content %}